@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

.title {
    color: #5F4B8B;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #E6F2FB;
    border-radius: 30px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Responsive Design */
@media (max-width: 768px) {
    .title {
        font-size: 28px;
        padding: 15px;
        margin-bottom: 30px;
    }
}
